@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Lato:ital,wght@1,300&family=Roboto:wght@400;500&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
