$primary: #FAFFFD;
$secondary: #342E37;
$secondary-light: #525252;
$secondary-dark: #322c35;

$orange: #ff7f44;
$orange-light: #FB9F74;
$orange-dark: #d17245;

$yellow: #FFFBD0;
$yellow-light: #fffcdb13;
$yellow-dark: #744f24e7;

$brown: #512211;
$brown-light: #7c4633e7;
$brown-dark: #4c2010;


 