$primary: #FAFFFD;
$secondary: #342E37;
$secondary-light: #525252;
$secondary-dark: #322c35;

$orange: #ff8750;
$orange-light: #ffb18e;
$orange-dark: #d19045;

$yellow: #FFFBD0;
$yellow-light: #fffcdb13;
$yellow-dark: #744f24e7;

$brown: #512211;
$brown-light: #7c4633e7;
$brown-dark: #4c2010;


//SearchMenu
// $searchMenu-primary:
$overlay-bg: rgba(63, 12, 12, 0.9);
$overlay-bg-hover: rgba(190, 105, 105, 0.9);
$overlay-bg-active: rgba(192, 114, 114, 0.9);


 