@use "../../variables.scss" as v;
.home {
  min-height: 100vh;
  padding-top: 100px;
}
.homeSectionsContainer {
  padding: 10px;
  padding-bottom: 120px;
  background-color: v.$primary;
  display: flex;
  align-items: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.loading__container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .loading__mark {
    font-size: 128px;
    animation: 1.5s infinite fadeInOut;
  }
  .loading__serverInfo {
    p {
      animation: 0.5s fadein;
      background-color: rgb(255, 245, 190);
      text-align: center;
      padding: 10px;
      max-width: 400px;
    }
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }
}

// .banner{
//     .bannerText {
//         min-height: 300px;
//         width: 40vw;
//         padding: 10px;
//         background-color: v.$primary;
//         border: 1px solid v.$secondary;
//         border-radius: 30px;
//         position: relative;
//         left: 20px;
//         top: 40px;
//     }
//     :nth-child(1) {
//         font-size: 24px;
//     }
//     :nth-child(2) {
//         font-size: 16px;
//     }
// }
// .banner:before {
//     content: ' ';
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     opacity: 0.6;
//     background: url('../../../public/home-bg.jpg') fixed;
//     background-repeat: no-repeat;
//     background-size: contain;
//     background-size: cover;
//     background-position: 75% 50%;
//     height: 500px;
// }
.productList {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: 0.5s;
  justify-content: center;
  gap: 20px;
  div {
    flex: 1 1;
  }
}
.statusBox {
  font-size: 18px;
  margin-top: 40px;
  background-color: rgb(241, 241, 241);
  border: 1px solid lightgray;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 80vw;
}
