@use '../../variables.scss' as v;

.searchMenu {
    overflow: hidden;
    width: 100%;
    max-width: 1024px;
    background-color: v.$brown;
    border-radius: 4px;
    margin-bottom: 10px;
    color: white;

    display: flex;
    flex-direction: column;
}
.searchMenuUp {
    display: flex;
    flex-direction: column-reverse;
}
.searchMenuDown {
    display: none;
}
.searchMenuDown_active {
    background-color: v.$brown-light;
    width: 100%;
    padding: 6px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 6px;
    height: 340px;
    span {
        box-sizing: border-box;
        padding: 4px;
        line-height: 30px;
        border-bottom: 1px solid v.$yellow-light;
    }
    span:hover {
        background-color:v.$yellow-light;
        cursor: pointer;
    }
}
.categoryFilter,
.optionsFilter {
    box-sizing: border-box;
    height: 60px;
    display: flex;
    align-items: center;
}
.categoryFilter {
    background-color: v.$brown-light;
    padding: 10px 20px;
    border-bottom: 1px solid v.$yellow-light;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    gap: 10px;
    i {
        font-size: 18px;
    }
}
.categoryFilter:hover {
    background-color: v.$yellow-light;
    cursor: pointer;
} 
.optionsFilter {
    width: 100%;
    justify-content: space-between;
    span {
        line-height: 60px;
        box-sizing: border-box;
        padding: 0 20px;

        border-left: 1px solid v.$brown-light;
    }
    span:hover {
        background-color: v.$brown-light;
        cursor:pointer;  
    }
    .optionsL {
        display: flex;
        align-items: center;
    }
    .optionsR {
        width: 200px;
        text-align: center;
    }
}
@media (min-width: 768px) {
    .searchMenu {
        width: 95vw;
        margin: auto;
    }
    .searchMenuUp {
        flex-direction: row;
    }
    .searchMenuDown_active {
        height: 250px;
    }

}