@use "../../variables.scss" as v;
.container {
    min-width: 200px;
    max-width: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 4px;
    gap: 10px;
    transition: 0.2s;
    animation: fadein 0.5s;
    -webkit-animation: fadein 0.5s;
    -moz-animation: fadein 0.5s;
    -o-animation: fadein 0.5s;
    -ms-animation: fadein 0.5s;

    @keyframes fadein {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
}
.container:hover {
    background-color: rgb(248, 248, 248) ;
    transition: 0.2s;
    cursor: pointer;
    
}
.itemDown {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
    .itemDetails{
        display: flex;
        flex-direction: column;
        .title {
            height: 80px;
            font-size: 14px;
            font-weight: bold;
    
        }
        .details {
            color: rgb(107, 107, 107);
            font-size: 14px;
            line-height: 20px;
            font-weight: 200;
        }
        
    }
    button {
        height: 30px;
        width: 100px;
        align-self: center;

        background-color: v.$orange;
        color: white;
        outline: none;
        border: 1px solid lightgray;
        border-radius: 4px;
    }
    button:hover {   
        background-color: v.$orange;
        cursor: pointer;
    }
}

