@use "../../variables.scss" as v;
.admin {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.adminNav {
    width: 100%;
    height: 100px;
    padding: 10px 20px;
    background-color: v.$secondary;
    color:white;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .navOptionsBtn.active {
        span {background-color: black;}
        :nth-child(1) {
            transform: translateY(13px) rotate(-45deg) ;    
        }
        :nth-child(2) {
            opacity: 0;   
        }
        :nth-child(3) {
            transform: translateY(-13px) rotate(45deg) ;
        }
    }
    .navOptionsContainer.active {
        width: 100%;
    }
    h2.active {
        color: black;
        position: absolute;
        white-space: nowrap;

        top: 35px;
        left: 20px;
    }
    .navHomeBtn.active {
        i{
            color: black;
        }
    }
}
.navProfile {
    i:first-of-type {
        font-size: 72px;
    }
    i:last-of-type {
        font-size: 24px;
        color: rgb(255, 255, 255);

        position: relative;
        left: -4px;
        top: 6px;
    }
}
.navHomeBtn {
    position: absolute;
    left: 120px;
    background-color: transparent;
    border: none;
    i {
        font-size: 32px;
        color: white;
    }
}
.navHomeBtn:hover,
.navHomeBtn.active:hover {
    cursor: pointer;
    i {
        color: v.$orange;    
    }
}
.navHomeBtn:active,
.navHomeBtn.active:active {
    i {
        color: v.$orange-light;
    }
}
.navOptionsContainer {
    background-color: rgb(255, 255, 255);
    position: fixed;
    box-sizing: border-box;
    top:0;
    right: 0;
    transition: 0.5s;

    width: 0;
    height: 100%;
    padding: 100px 0;
}
.navOptions {
    border-top: 1px solid lightgray;
    list-style: none;
    padding: 20px;
    color: black;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    .active {
        border-color: v.$orange;
        color: v.$orange;
    }
}
.navOptionsItem {
    width: 100%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
}
.navOptionsItem:hover {
    cursor: pointer;
    border-color: v.$orange;
}
.navOptionsItem:active {
    background-color: v.$orange-light;
}
.navOptionsBtn {
    z-index: 10;
    background-color: transparent;
    border: none;
    padding: 0;
    position: absolute;
    transition: 0.2s;
    top: 35px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    
    width: 40px;
    height: 30px;
    span {
        transition: 0.2s;
        width: 100%;
        height: 3px;
        background-color: white;
    }
}
.navOptionsBtn:hover {
    cursor: pointer;
    :nth-child(2) {
        background-color: v.$orange;  
    }
}
// CONTENT //
.adminContentWrapper {
    padding: 10px;
    width: 100%;
    min-height: 100vh;
    height:fit-content;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 10px;
    header {
        border-bottom: 1px solid lightgray;
        padding-bottom: 10px;
    }
    .adminContent {
        border: 1px solid lightgray;
        border-radius: 10px;
        width: 100%;
        h3 {
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            background-color: rgb(241, 241, 241);
            font-size: 18px;
        }
        h4 {
            padding: 10px;
        }
        .adminBookItem,.adminUserItem {
            border-radius: 0;
        }
        .adminBookItem:first-child,
        .adminUserItem:first-child {
            background-color: rgb(241, 241, 241);
            border-radius: 0;
            margin-bottom: 10px;
        }
        .adminBookItem.delMode,
        .adminUserItem.delMode {
            background: rgba(255, 18, 18, 0.425);
        }
    }
    .contentToolbar {
        padding: 10px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(241, 241, 241);
        button {
            font-size: 18px;
            border: none;
        }
        button:hover {
            color: v.$orange;
            cursor: pointer;
        }
        button.delMode {
            color: v.$orange;
        }
    }
    .contentTable {
        display: flex;
        flex-direction: column;
    }
    .addBookForm {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        label {
            display: flex;
            flex-direction: column;
            input {
                height: 30px;
                outline: none;
                border: 1px solid rgb(168, 168, 168);
                border-radius: 2px;
                padding: 4px 10px;
            }
            textarea {
                padding: 4px 10px;
            }
            input:focus,#desc:focus {
                border-color: v.$orange;
            }
            #desc {
                width: 100%;
                max-width: 100%;
                min-width: 100%;
                min-height: 150px;
                max-height: 400px;
                outline: none;
                border: 1px solid rgb(168, 168, 168);
                border-radius: 2px;
            }
        }
        div {
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }
        .checkBox {
            flex-direction: row;
            justify-content: flex-start;
            :first-child {
                width: 200px;
            }
            :last-child {
                width: 20px;
                background-color: v.$orange;
            }
            :last-child:checked {
                background-color: v.$orange;
            }
        }
    }
} 
@media (min-width: 768px) {
    .navHomeBtn {
        display: flex;
        align-items: center;
        padding-inline: 10px;
        gap: 10px;
        width: 200px;
        right: 260px;
    }
    .navHomeBtn:after {
        content:"Strona główna";
        font-size: 16px;
        color:white;
    }
    .navHomeBtn:hover::after {
        color: v.$orange;
    }
    .navHomeBtn::after:hover {
        color: v.$orange;
    }
    .navOptionsContainer,
    .navOptionsContainer.active {
        transition: none;
        background-color: transparent;
        padding: 0;
        position: static;
        width: auto;
        height: auto;
        h2.active {
            display: none;
        }    
    }
    .navOptions {
        border: none;
        position:static;
        flex-direction: row;
        background-color: transparent;
    }
    .navOptionsItem {
        color: white;
        border: none;
    }
    .navOptionsItem:hover {
        cursor: pointer;
        color: v.$orange;
    }
    .navOptionsItem:active {
        background-color: transparent;
        color: v.$orange-light;
    }
    .navOptionsBtn {
        display: none;
    }
    .adminContentWrapper {
        .addBookForm  {
            div {
                justify-content: flex-end;
            }   
        }
    }

}
@media (min-width:1024px) {
    .admin {
        flex-direction: row;
    }
    .adminNav {
        min-width: 200px;
        max-width: 200px;
        height: 100vh;
        padding: 10px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30px;
        position: fixed;
    }
    .adminContentWrapper {
        position: relative;
        padding-left: 210px;
    }
    .navProfile {
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid lightgray;
        i:first-of-type {
            font-size: 120px;
        }
        i:last-of-type {
            font-size: 32px;
            color: white;
    
            position: absolute;
            top: 120px;
            left: 150px;
        }
    }
    .navHomeBtn {
        left: 10px;
        bottom: 30px;
        padding-top: 10px;
        width: 180px;
        border-top: 1px solid lightgray;
    }
    .navOptions {
        padding: 0;
        border-left: none;
        width: 100%;
        flex-direction: column;
        align-items: start;
        gap: 0;
    }
    .navOptionsItem {
        width: 100%;
        border-radius: 0;
        border-bottom: 1px solid rgb(90, 90, 90);
    }
}