@use '../../variables.scss' as v;

.navbar {
    position: absolute;
    width: 100%;
    top:0;
    left:0;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding: 10px 20px;
    background-color: v.$primary;
    margin-bottom: 20px;
    box-shadow: 4px 11px 18px -20px rgba(66, 68, 90, 1);
}
.navLeft {
    display: flex;
    gap: 20px;
}
.wrapper {
    z-index: 9;
    display: flex;
    min-width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.navMenuBtn,
.navMenuBtn.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;

    width: 40px;
    height: 24px;
    span {
        transition: 0.2s;
        width: 100%;
        height: 2px;
        background-color: v.$secondary;
    }
}
.navMenuBtn:hover,
.navMenuBtn.active {
    cursor: pointer;
    :nth-child(2) {
        background-color: v.$orange;
    }
}
.navMenuBtn.active {
    :nth-child(1) {
        transform: translateY(11px) rotate(-45deg) ;    
    }
    :nth-child(2) {
        opacity: 0;   
    }
    :nth-child(3) {
        transform: translateY(-11px) rotate(45deg) ;
    }
}
.navLogo {
    color: black;
    height: 50px;
    padding: 4px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    gap: 8px;
    i {
        font-size: 42px;
    }
    p {
        display: none;
    }
}

.navRight,
.navRight_active {  
    position: fixed;
    height: 100%;
    width: 0;
    display: flex;
    flex-direction: column;
    z-index: 5;
    box-sizing: border-box;
    background-color: rgb(0,0,0);
    background-color: rgba(7, 7, 7, 0.815); 
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 80px;
    top: 0;
    right: 0;
}
.navRight_active {
    z-index: 1;
    width: 100%;
}
.navLogin,
.navBasket,
.navSearch {
    display: flex;
    justify-content: center;
    padding-block: 20px;

    gap: 20px;
    background-color: rgb(253, 253, 253);
    color: black;
    border: none;
    border-top: 1px solid lightgray;

    text-decoration: none;
    font-size: 18px;
}
.navSearch {
    flex-direction: row-reverse;
    align-items: center;
    input {
        overflow:visible;
        text-overflow:unset;
        max-width: 200px;
        font-size: 18px;
        padding: 10px;
        border: none;
        outline: none;
    }
    button {
        font-size: 18px;
        border: none;
        background-color: transparent;
    }
}
.navLogin:hover,
.navBasket:hover {
    color: v.$orange;
    transition: 0.2s;
}
@media (min-width:420px) {
    .navLogo {
        p {
            display: flex;
            flex-direction: column;
            font-weight: bold;
        }
        p, span {
            font-family: Aboreto;
            font-size: 18px;
        }
    }

}
@media (min-width: 768px) {
    .wrapper {
        justify-content: flex-start;
    }
    .navbar {
        justify-content: space-between;
        .navSearchBtn.disabled {
            display: none;
        }
        .navSearch.active {
            position: inherit;
            border: none;
        }
        .navSearch,
        .navSearch.active {
            height: 50px;
            display: flex;
            align-items: stretch;
            input {
                width: 30vw;
            }
        }
        .navRight,
        .navRight_active {
            transition: none;
            width: 100%;
            top:0;
            position:static;
            border: none;
            background-color: transparent;


            margin: 0;
            padding: 0;
            height: 100%;
            overflow-x:unset;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .navSearch,
        .navSearch.active {
            display: flex;
            flex-direction: row;
            width: auto;
            align-items: center;
            border: none;
            gap: 0;
            background-color: white;
            input {
                max-width: 28vw;
                outline: none;
                border: 1px solid lightgray;
                padding: 10px;
                color:rgb(49, 49, 49);
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;  
            }
            input, i,button {
                box-sizing: border-box;
                height: 50px;
            }
            input:focus {
                background-color: rgb(247, 247, 247);
            }
            button {
                min-width: 50px;
                line-height: 50px;
                text-align: center;
                background-color: rgb(255, 145, 0);
                border:none;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;  
            }
            button:hover { 
                background-color: rgb(236, 134, 0); 
                color: black;
                cursor: pointer;
            }
            button:active { 
                background-color: rgb(221, 125, 0); 
            }
        }
        .navRightLinks {
            display: flex;
            gap: 10px;
        }
        .navLogin,
        .navBasket {
            display: flex;
            justify-content: flex-start;
            align-items: center;
    
            color: black;
            gap: 6px;
            padding: 10px;
            border: none;
    
            text-decoration: none;
            font-size: 18px;
            box-sizing: border-box;
            border-bottom: 2px solid transparent;
            i {
                font-size:20px;
            }
        }
        .navLogin:hover,
        .navBasket:hover {
            color: v.$orange;
            border-bottom: 2px solid v.$orange;
            transition: 0.2s;
        }
        .navMenuBtn,
        .navMenuBtn.active {
            display: none;
        }
    }

}