@use '../../variables.scss' as v;

.navbar {
    position: sticky;
    top:0;
    left:0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding: 10px 20px;
    background-color: v.$primary-color;
    box-shadow: 4px 11px 18px -20px rgba(66, 68, 90, 1);
}
.wrapper {
    display: flex;
    width: 100%;
    max-width: 1024px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
// .navMenuBtn,
// .navMenuBtn_active {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     gap: 6px;

//     width: 40px;
//     height: 24px;
//     span {
//         transition: 0.2s;
//         width: 100%;
//         height: 2px;
//         background-color: v.$secondary-color;
//     }
// }
// .navMenuBtn_active {
//     :nth-child(1) {
//         transform: translateY(11px) rotate(-45deg) ;    
//     }
//     :nth-child(2) {
//         opacity: 0;   
//     }
//     :nth-child(3) {
//         transform: translateY(-11px) rotate(45deg) ;
//     }

// }
.navLogo {
    color: black;
    height: 50px;
    padding: 4px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    gap: 8px;
    i {
        font-size: 42px;
    }
    p {
        display: none;
    }
}
.navSearch,
.navSearch_active {
    input {
        width: 60vw;
        outline: none;
        border: 1px solid lightgray;
        padding: 10px;
        color:rgb(49, 49, 49);
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;  
    }
    input, i {
        box-sizing: border-box;
        height: 50px;
    }
    input:focus {
        background: rgb(247, 247, 247);
    }
    i {
        min-width: 50px;
        line-height: 50px;
        text-align: center;
        background-color: rgb(255, 145, 0);
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;  
    }
    i:hover { 
        background-color: rgb(236, 134, 0); 
        cursor: pointer;
    }
    i:active { 
        background-color: rgb(221, 125, 0); 
    }
}
.navSearch {
    display: none;
}

.navSearch_active {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: v.$primary-color;
    border-top: 1px solid lightgray;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    input, i {
        z-index: 1;
    }

}
.navRight {
    display: flex;
    align-items: center;
    gap: 20px;
}
.navLogin,
.navBasket,
.navSearchBtn {
    box-sizing: border-box;
    height: 50px;
    min-width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: v.$primary-color;
    border: 1px solid v.$accent-color;
    border-radius: 50%;

    text-decoration: none;
    color: black;
    transition: 0.2s;
}
.navLogin:hover,
.navBasket:hover,
.navSearchBtn:hover {
    background-color: v.$accent-color;
    cursor: pointer;
    i {
        color: white;
    }
}
.navLogin {
    i {
        font-size: 28px;
    }
    div {
        display: none
    }
}
.navBasket,
.navSearchBtn {
    i {
        font-size: 24px;
    }
    p {
        display: none;
    }
}

@media (min-width:420px) {
    .navLogo {
        p {
            display: flex;
            flex-direction: column;
            font-weight: bold;
        }
        p, span {
            font-family: Aboreto;
            font-size: 18px;
        }
    }

}
@media (min-width: 768px) {
    .navbar {
        justify-content: space-between;
    }
    .wrapper {
        max-width: 100%;
    }
    .navSearch_active {
        position: inherit;
        border: none;
    }
    .navSearch,
    .navSearch_active {
        height: 50px;
        width: 26vw;
        display: flex;
        align-items: stretch;
    }
    .navLogin,
    .navBasket,
    .navSearchBtn {
        border: none;
}
    .navSearchBtn {
        display: none;
    }
    .navBasket {
        padding: 8px;
        border-radius: 10px;
        gap: 10px;
        p {
            display: block;
        }
    }
    .navLogin {
        padding: 10px;
        border-radius: 10px;
        gap: 16px;
        div {
            display: flex;
            flex-direction: column;
        }
    }
}